
.vs/AoC2019/DesignTimeBuild/.dtbcache
.vs/AoC2019/v16/.suo
.vs/AoC2019/v16/Server/sqlite3/db.lock
.vs/AoC2019/v16/Server/sqlite3/storage.ide
.vs/AoC2019/v16/Server/sqlite3/storage.ide-shm
.vs/AoC2019/v16/Server/sqlite3/storage.ide-wal
.vs/ConsoleApp1/DesignTimeBuild/.dtbcache
.vs/ConsoleApp1/v16/.suo
.vs/ConsoleApp1/v16/Server/sqlite3/db.lock
.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide
bin/Debug/netcoreapp3.1/AoC2019.deps.json
bin/Debug/netcoreapp3.1/AoC2019.dll
bin/Debug/netcoreapp3.1/AoC2019.exe
bin/Debug/netcoreapp3.1/AoC2019.pdb
bin/Debug/netcoreapp3.1/AoC2019.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/AoC2019.runtimeconfig.json
bin/Debug/netcoreapp3.1/ConsoleApp1.deps.json
bin/Debug/netcoreapp3.1/ConsoleApp1.dll
bin/Debug/netcoreapp3.1/ConsoleApp1.exe
bin/Debug/netcoreapp3.1/ConsoleApp1.pdb
bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/ConsoleApp1.runtimeconfig.json
obj/AoC.csproj.nuget.cache
obj/AoC.csproj.nuget.dgspec.json
obj/AoC.csproj.nuget.g.props
obj/AoC.csproj.nuget.g.targets
obj/AoC2019.csproj.nuget.cache
obj/AoC2019.csproj.nuget.dgspec.json
obj/AoC2019.csproj.nuget.g.props
obj/AoC2019.csproj.nuget.g.targets
obj/ConsoleApp1.csproj.nuget.cache
obj/ConsoleApp1.csproj.nuget.dgspec.json
obj/ConsoleApp1.csproj.nuget.g.props
obj/ConsoleApp1.csproj.nuget.g.targets
obj/Debug/netcoreapp3.1/AoC.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/AoC.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/AoC.assets.cache
obj/Debug/netcoreapp3.1/AoC.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/AoC2019.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/AoC2019.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/AoC2019.assets.cache
obj/Debug/netcoreapp3.1/AoC2019.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/AoC2019.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/AoC2019.dll
obj/Debug/netcoreapp3.1/AoC2019.exe
obj/Debug/netcoreapp3.1/AoC2019.pdb
obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/ConsoleApp1.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ConsoleApp1.assets.cache
obj/Debug/netcoreapp3.1/ConsoleApp1.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ConsoleApp1.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ConsoleApp1.dll
obj/Debug/netcoreapp3.1/ConsoleApp1.exe
obj/Debug/netcoreapp3.1/ConsoleApp1.pdb
obj/project.assets.json
